[Desktop Entry]
Version=1.0
Type=Application

Name=PQS Demo App
Comment=A template for creating GNOME apps with Swift
Categories=Development;GNOME;

Icon=com.needletails.PQSDemoApp
Exec=PQSDemoApp
Terminal=false
